<!DOCTYPE html>
<html>

<head>
    <title>Skill Launches - About Us</title>
    <link rel="stylesheet" href="../assets/styles.css" />
    <link rel="stylesheet" href="../assets/media-queries.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="content">
    <div class="container-fuild">
        <header id="myHeader">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../assets/images/skill-launches-logo.svg" alt="Logo" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="./homepage.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./aboutus.html">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blogs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./contactus.html">Customer Supports</a>
                            </li>
                        </ul>
                        <ul class="header-buttons">
                            <button class="btn btn-secondary" type="submit">Sign In</button>
                            <button class="btn btn-primary" type="submit">Sign Up</button>
                            </form>
                    </div>
                </div>
            </nav>
        </header>
        <div class="min-content-section">
            <div class="home-banner-section pt-4">
                <div class="container pos-rel">
                    <div class="row">
                        <div class="col-md-6 home my-auto">
                            <h2 class="banner-main-title">Find a job that suits your interest & skills.</h2>
                            <p class="banner-sub-content">
                                Aliquam vitae turpis in diam convallis finibus in at risus. <br />Nullam in scelerisque
                                leo, eget sollicitudin velit bestibulum.
                            </p>
                            <div class="search-section">
                                <div class="search-boxes">
                                    <div class="pos-rel align-self-center">
                                        <img class="search-icon" src="../assets/images/search-icon.svg"
                                            alt="search icon" />
                                        <input type="text" class="form-control" placeholder="Job title" />
                                    </div>
                                    <div class="pos-rel align-self-center search-field-divider">
                                        <img class="search-icon" src="../assets/images/map-icon.svg" alt="Map icon" />
                                        <input type="text" class="form-control" placeholder="Location" />
                                    </div>
                                    <div>
                                        <button class="btn btn-primary find-job-btn">Find Job</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <img src="../assets/images/home-banner-gif.gif" class="w-80 mx-auto"
                                alt="home banner gif" />
                        </div>

                    </div>
                </div>
                <div class="banner-sub-section mt-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="home-banner-label">
                                    <div class="label-icon top-copanies-icon-bg">
                                        <img src="../assets/images/top-companies-icon.svg" alt="Top Copanies Icon" />
                                    </div>
                                    <div class="content-space">
                                        <h6 class="sub-title">Top Companies Hiring</h6>
                                        <p class="label-content">32 Companies</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="home-banner-label">
                                    <div class="label-icon">
                                        <img src="../assets/images/briefcase-icon.svg" alt="Top Copanies Icon" />
                                    </div>
                                    <div class="content-space">
                                        <h6 class="sub-title">Best Job Opportunity</h6>
                                        <p class="label-content">1234 Job vacancies</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="home-banner-label">
                                    <div class="label-icon">
                                        <img src="../assets/images/briefcase-icon.svg" alt="Top Copanies Icon" />
                                    </div>
                                    <div class="content-space">
                                        <h6 class="sub-title">Most In-Demand Jobs</h6>
                                        <p class="label-content">Job opportunity news</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="trusted-companies my-4">
                <marquee direction="left" scrollamount="15" onmouseover="this.stop()" onmouseout="this.start()">
                    <ul>
                        <li>
                            <img src="../assets/images/meta-logo.svg" alt="Meta Logo">
                        </li>
                        <li>
                            <img src="../assets/images/google-logo.svg" alt="Google Logo">
                        </li>
                        <li>
                            <img src="../assets/images/netflix-logo.svg" alt="Netflix Logo">
                        </li>
                        <li>
                            <img src="../assets/images/p&amp;g-logo.svg" alt="P &amp; G Logo">
                        </li>
                        <li>
                            <img src="../assets/images/paypall-logo.svg" alt="PayPall Logo">
                        </li>
                        <li>
                            <img src="../assets/images/payoneer-logo.svg" alt="Poyneer Logo">
                        </li>
                    </ul>
                </marquee>
            </div>
            <div class="flow-chart-web mb-4">
                <div class="col-12 flow-chat-section">
                    <h2 class="banner-main-title mb-5 text-center">How Skill Launches work</h2>
                    <ul class="flow-section-list">
                        <li class="pos-rel">
                            <div class="flow-section">
                                <img src="../assets/images/create-account-icon.svg" alt="create account" />
                                <h6>1. Create account</h6>
                                <p class="flow-chat-content">
                                    Aliquam facilisis egestas sapien, nec tempor leo tristique at.
                                </p>
                            </div>                            
                        </li>
                        <li class="pos-rel">
                            <div class="flow-section">
                                <img src="../assets/images/upload-cv-icon.svg" alt="upload CV" />
                                <h6>2. Upload CV/Resume</h6>
                                <p class="flow-chat-content">
                                    Curabitur sit amet maximus ligula. Nam a nulla ante. Nam sodales
                                </p>
                            </div>
                        </li>
                        <li class="pos-rel">
                            <div class="flow-section">
                                <img src="../assets/images/fin-job-icon.svg" alt="Find Job" />
                                <h6>3. Find suitable job</h6>
                                <p class="flow-chat-content">
                                    Phasellus quis eleifend ex. Morbi nec fringilla nibh.
                                </p>
                            </div>
                        </li>
                        <li class="pos-rel">
                            <div class="flow-section">
                                <img src="../assets/images/apply-job-icon.svg" alt="Appply Job" />
                                <h6>4. Apply job</h6>
                                <p class="flow-chat-content">
                                    Curabitur sit amet maximus ligula. Nam a nulla ante, Nam sodales purus.
                                </p>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="popular-category">
            <div class="container">
                <div class="banner-main-title black-title pb-4">
                    <span>Popular category</span>
                    <span class="view-btn"><button class="btn">View All <img
                                src="../assets/images/view-arrow.svg" /></button></span>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="home-banner-label">
                            <div class="label-icon top-copanies-icon-bg">
                                <img src="../assets/images/graphic-design-icon.svg" alt="Popular Category Icon" />
                            </div>
                            <div class="content-space">
                                <h6 class="sub-title">Graphics & Design</h6>
                                <p class="label-content">357 Open position</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="home-banner-label">
                            <div class="label-icon top-copanies-icon-bg">
                                <img src="../assets/images/code-programing-icon.svg" alt="Popular Category Icon" />
                            </div>
                            <div class="content-space">
                                <h6 class="sub-title">Code & Programing</h6>
                                <p class="label-content">312 Open position</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="home-banner-label">
                            <div class="label-icon top-copanies-icon-bg">
                                <img src="../assets/images/digital-marketing-icon.svg" alt="Popular Category Icon" />
                            </div>
                            <div class="content-space">
                                <h6 class="sub-title">Digital Marketing</h6>
                                <p class="label-content">125 Open position</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="home-banner-label">
                            <div class="label-icon top-copanies-icon-bg">
                                <img src="../assets/images/video-animation-icon.svg" alt="Popular Category Icon" />
                            </div>
                            <div class="content-space">
                                <h6 class="sub-title">Video & Animation</h6>
                                <p class="label-content">247 Open position</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="home-banner-label">
                            <div class="label-icon top-copanies-icon-bg">
                                <img src="../assets/images/music-icon.svg" alt="Popular Category Icon" />
                            </div>
                            <div class="content-space">
                                <h6 class="sub-title">Music & Audio</h6>
                                <p class="label-content">204 Open position</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="home-banner-label">
                            <div class="label-icon top-copanies-icon-bg">
                                <img src="../assets/images/account-finance-icon.svg" alt="Popular Category Icon" />
                            </div>
                            <div class="content-space">
                                <h6 class="sub-title">Account & Finance</h6>
                                <p class="label-content">357 Open position</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="home-banner-label">
                            <div class="label-icon top-copanies-icon-bg">
                                <img src="../assets/images/health-care-icon.svg" alt="Popular Category Icon" />
                            </div>
                            <div class="content-space">
                                <h6 class="sub-title">Health & Care</h6>
                                <p class="label-content">128 Open position</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="home-banner-label">
                            <div class="label-icon top-copanies-icon-bg">
                                <img src="../assets/images/data-science-icon.svg" alt="Popular Category Icon" />
                            </div>
                            <div class="content-space">
                                <h6 class="sub-title">Data & Science</h6>
                                <p class="label-content">57 Open position</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-4">
            <div class="banner-main-title black-title pb-4">
                <span>Featured jobs</span>
                <span class="view-btn"><button class="btn">Show All Jobs <img
                            src="../assets/images/view-arrow.svg" /></button></span>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="featured-card">
                        <div class="featured-card-header">
                            <img src="../assets/images/email-marketing-icon.svg" />
                            <span class="job-type-label">Full Time</span>
                        </div>
                        <div class="featured-card-body">
                            <h6 class="featured-tile">Email Marketing</h6>
                            <span class="featured-sub-title">Revolut . Madrid, Spain</span>
                            <p class="featured-content">
                                Revolut is looking for Email Marketing to help team ma ...
                            </p>
                        </div>
                        <div class="featured-footer">
                            <span class="marketing-label">Marketing</span>
                            <span class="design-label">Design</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-card">
                        <div class="featured-card-header">
                            <img src="../assets/images/brand-designer.svg" />
                            <span class="job-type-label">Full Time</span>
                        </div>
                        <div class="featured-card-body">
                            <h6 class="featured-tile">Brand Designer</h6>
                            <span class="featured-sub-title">Canva . Ontario, Canada</span>
                            <p class="featured-content">
                                Canva is looking for Lead Engineer to help develop n ...
                            </p>
                        </div>
                        <div class="featured-footer">
                            <span class="design-label">Design</span>
                            <span class="business-label">Business</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-card">
                        <div class="featured-card-header">
                            <img src="../assets/images/email-digi-marketing.svg" />
                            <span class="job-type-label">Full Time</span>
                        </div>
                        <div class="featured-card-body">
                            <h6 class="featured-tile">Email Digi Marketing</h6>
                            <span class="featured-sub-title">Pitch . Berlin, Germany</span>
                            <p class="featured-content">
                                Revolut is looking for Email Marketing to help team ma ...
                            </p>
                        </div>
                        <div class="featured-footer">
                            <span class="marketing-label">Marketing</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-card">
                        <div class="featured-card-header">
                            <img src="../assets/images/visual-designer.svg" />
                            <span class="job-type-label">Full Time</span>
                        </div>
                        <div class="featured-card-body">
                            <h6 class="featured-tile">Visual Designer</h6>
                            <span class="featured-sub-title">Revolut . Madrid, Spain</span>
                            <p class="featured-content">
                                Revolut is looking for Email Marketing to help team ma ...
                            </p>
                        </div>
                        <div class="featured-footer">
                            <span class="design-label">Design</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-card">
                        <div class="featured-card-header">
                            <img src="../assets/images/product-designer.svg" />
                            <span class="job-type-label">Full Time</span>
                        </div>
                        <div class="featured-card-body">
                            <h6 class="featured-tile">Product Designer</h6>
                            <span class="featured-sub-title">Revolut . Madrid, Spain</span>
                            <p class="featured-content">
                                Revolut is looking for Email Marketing to help team ma ...
                            </p>
                        </div>
                        <div class="featured-footer">
                            <span class="marketing-label">Marketing</span>
                            <span class="design-label">Design</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-card">
                        <div class="featured-card-header">
                            <img src="../assets/images/lead-designer.svg" />
                            <span class="job-type-label">Full Time</span>
                        </div>
                        <div class="featured-card-body">
                            <h6 class="featured-tile">Lead Designer</h6>
                            <span class="featured-sub-title">Revolut . Madrid, Spain</span>
                            <p class="featured-content">
                                Revolut is looking for Email Marketing to help team ma ...
                            </p>
                        </div>
                        <div class="featured-footer">
                            <span class="design-label">Design</span>
                            <span class="business-label">Business</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-card">
                        <div class="featured-card-header">
                            <img src="../assets/images/brand-startegist.svg" />
                            <span class="job-type-label">Full Time</span>
                        </div>
                        <div class="featured-card-body">
                            <h6 class="featured-tile">Brand Strategist</h6>
                            <span class="featured-sub-title">GoDaddy . Marseille, France</span>
                            <p class="featured-content">
                                Revolut is looking for Email Marketing to help team ma ...
                            </p>
                        </div>
                        <div class="featured-footer">
                            <span class="marketing-label">Marketing</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="featured-card">
                        <div class="featured-card-header">
                            <img src="../assets/images/data-analyst-icon.svg" />
                            <span class="job-type-label">Full Time</span>
                        </div>
                        <div class="featured-card-body">
                            <h6 class="featured-tile">Data Analyst</h6>
                            <span class="featured-sub-title">Twitter . San Diego, US</span>
                            <p class="featured-content">
                                Revolut is looking for Email Marketing to help team ma ...
                            </p>
                        </div>
                        <div class="featured-footer">
                            <span class="technology-label">Technology</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Testimonial Code For Desktop -- START -->
        <div class="testimonial-section desk-view">
            <div class="banner-main-title black-title pb-4 text-center">Clients Testimonial</div>
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                </div>
                <div class="container">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-item-custom">
                                <div class="testimonial-card">
                                    <div class="star-header">
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                    </div>
                                    <p class="testimonial">
                                        “Ut ullamcorper hendrerit tempor. Aliquam in rutrum dui. Maecenas ac placerat
                                        metus, in faucibus est.”
                                    </p>
                                    <div class="testimonial-footer">
                                        <div class="d-flex">
                                            <img src="../assets/images/client.svg" />
                                            <div class="align-self-center">
                                                <p class="client-name">Robert Fox</p>
                                                <span class="client-designation">UI/UX Designer</span>
                                            </div>
                                        </div>
                                        <div>
                                            <img class="quote-img" src="../assets/images/testimonial-quotes.svg"
                                                alt="Quote" />
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-card">
                                    <div class="star-header">
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                    </div>
                                    <p class="testimonial">
                                        “Ut ullamcorper hendrerit tempor. Aliquam in rutrum dui. Maecenas ac placerat
                                        metus, in faucibus est.”
                                    </p>
                                    <div class="testimonial-footer">
                                        <div class="d-flex">
                                            <img src="../assets/images/client.svg" />
                                            <div class="align-self-center">
                                                <p class="client-name">Robert Fox</p>
                                                <span class="client-designation">UI/UX Designer</span>
                                            </div>
                                        </div>
                                        <div>
                                            <img class="quote-img" src="../assets/images/testimonial-quotes.svg"
                                                alt="Quote" />
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-card">
                                    <div class="star-header">
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                    </div>
                                    <p class="testimonial">
                                        “Ut ullamcorper hendrerit tempor. Aliquam in rutrum dui. Maecenas ac placerat
                                        metus, in faucibus est.”
                                    </p>
                                    <div class="testimonial-footer">
                                        <div class="d-flex">
                                            <img src="../assets/images/client.svg" />
                                            <div class="align-self-center">
                                                <p class="client-name">Robert Fox</p>
                                                <span class="client-designation">UI/UX Designer</span>
                                            </div>
                                        </div>
                                        <div>
                                            <img class="quote-img" src="../assets/images/testimonial-quotes.svg"
                                                alt="Quote" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-item-custom">
                                <div class="testimonial-card">
                                    <div class="star-header">
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                    </div>
                                    <p class="testimonial">
                                        “Ut ullamcorper hendrerit tempor. Aliquam in rutrum dui. Maecenas ac placerat
                                        metus, in faucibus est.”
                                    </p>
                                    <div class="testimonial-footer">
                                        <div class="d-flex">
                                            <img src="../assets/images/client.svg" />
                                            <div class="align-self-center">
                                                <p class="client-name">Robert Fox</p>
                                                <span class="client-designation">UI/UX Designer</span>
                                            </div>
                                        </div>
                                        <div>
                                            <img class="quote-img" src="../assets/images/testimonial-quotes.svg"
                                                alt="Quote" />
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-card">
                                    <div class="star-header">
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                    </div>
                                    <p class="testimonial">
                                        “Ut ullamcorper hendrerit tempor. Aliquam in rutrum dui. Maecenas ac placerat
                                        metus, in faucibus est.”
                                    </p>
                                    <div class="testimonial-footer">
                                        <div class="d-flex">
                                            <img src="../assets/images/client.svg" />
                                            <div class="align-self-center">
                                                <p class="client-name">Robert Fox</p>
                                                <span class="client-designation">UI/UX Designer</span>
                                            </div>
                                        </div>
                                        <div>
                                            <img class="quote-img" src="../assets/images/testimonial-quotes.svg"
                                                alt="Quote" />
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-card">
                                    <div class="star-header">
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                        <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                    </div>
                                    <p class="testimonial">
                                        “Ut ullamcorper hendrerit tempor. Aliquam in rutrum dui. Maecenas ac placerat
                                        metus, in faucibus est.”
                                    </p>
                                    <div class="testimonial-footer">
                                        <div class="d-flex">
                                            <img src="../assets/images/client.svg" />
                                            <div class="align-self-center">
                                                <p class="client-name">Robert Fox</p>
                                                <span class="client-designation">UI/UX Designer</span>
                                            </div>
                                        </div>
                                        <div>
                                            <img class="quote-img" src="../assets/images/testimonial-quotes.svg"
                                                alt="Quote" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!--Testimonial Code For Desktop -- END -->

        <!--Testimonial Code For Mobile -- START -->
        <div class="testimonial-section mobile-view">
            <div class="banner-main-title black-title pb-4 text-center">Clients Testimonial</div>
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonial-card">
                            <div class="star-header">
                                <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                <img src="../assets/images/testimonial-star.svg" alt="Star" />
                            </div>
                            <p class="testimonial">
                                “Ut ullamcorper hendrerit tempor. Aliquam in rutrum dui. Maecenas ac placerat
                                metus, in faucibus est.”
                            </p>
                            <div class="testimonial-footer">
                                <div class="d-flex">
                                    <img src="../assets/images/client.svg" />
                                    <div class="align-self-center">
                                        <p class="client-name">Robert Fox</p>
                                        <span class="client-designation">UI/UX Designer</span>
                                    </div>
                                </div>
                                <div>
                                    <img class="quote-img" src="../assets/images/testimonial-quotes.svg" alt="Quote" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-card">
                            <div class="star-header">
                                <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                <img src="../assets/images/testimonial-star.svg" alt="Star" />
                            </div>
                            <p class="testimonial">
                                “Ut ullamcorper hendrerit tempor. Aliquam in rutrum dui. Maecenas ac placerat
                                metus, in faucibus est.”
                            </p>
                            <div class="testimonial-footer">
                                <div class="d-flex">
                                    <img src="../assets/images/client.svg" />
                                    <div class="align-self-center">
                                        <p class="client-name">Robert Fox</p>
                                        <span class="client-designation">UI/UX Designer</span>
                                    </div>
                                </div>
                                <div>
                                    <img class="quote-img" src="../assets/images/testimonial-quotes.svg" alt="Quote" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-card">
                            <div class="star-header">
                                <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                <img src="../assets/images/testimonial-star.svg" alt="Star" />
                                <img src="../assets/images/testimonial-star.svg" alt="Star" />
                            </div>
                            <p class="testimonial">
                                “Ut ullamcorper hendrerit tempor. Aliquam in rutrum dui. Maecenas ac placerat
                                metus, in faucibus est.”
                            </p>
                            <div class="testimonial-footer">
                                <div class="d-flex">
                                    <img src="../assets/images/client.svg" />
                                    <div class="align-self-center">
                                        <p class="client-name">Robert Fox</p>
                                        <span class="client-designation">UI/UX Designer</span>
                                    </div>
                                </div>
                                <div>
                                    <img class="quote-img" src="../assets/images/testimonial-quotes.svg" alt="Quote" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!--Testimonial Code For Mobile -- END -->
        <div class="recruitment-experts-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../assets/images/recruitment-expert-illustration.svg" alt="recruitment image">
                    </div>
                    <div class="col-md-6 my-auto">
                        <h6 class="small-header">Top Recruiters</h6>
                        <h4 class="recruitment-experts-title black-title pb-4 text-center">Recruitment Experts</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="home-banner-label">
                                    <div class="label-icon top-copanies-icon-bg">
                                        <img src="../assets/images/google-expert.svg" alt="recruitment expert icon" />
                                    </div>
                                    <div class="content-space">
                                        <h6 class="sub-title">Google</h6>
                                        <p class="label-content">16189 Jobs</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="home-banner-label">
                                    <div class="label-icon top-copanies-icon-bg">
                                        <img src="../assets/images/amazon-expert.svg" alt="recruitment expert icon" />
                                    </div>
                                    <div class="content-space">
                                        <h6 class="sub-title">Amazon</h6>
                                        <p class="label-content">3645 Jobss</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="home-banner-label">
                                    <div class="label-icon top-copanies-icon-bg">
                                        <img src="../assets/images/master-card-expert.svg"
                                            alt="recruitment expert icon" />
                                    </div>
                                    <div class="content-space">
                                        <h6 class="sub-title">Mastercard</h6>
                                        <p class="label-content">1489 Jobs</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="home-banner-label">
                                    <div class="label-icon top-copanies-icon-bg">
                                        <img src="../assets/images/adobe-expert.svg" alt="recruitment expert icon" />
                                    </div>
                                    <div class="content-space">
                                        <h6 class="sub-title">Adobe</h6>
                                        <p class="label-content">675 Jobs</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="home-banner-label">
                                    <div class="label-icon top-copanies-icon-bg">
                                        <img src="../assets/images/nvidia-expert.svg" alt="recruitment expert icon" />
                                    </div>
                                    <div class="content-space">
                                        <h6 class="sub-title">nVIDIA</h6>
                                        <p class="label-content">1231 Jobs</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="home-banner-label">
                                    <div class="label-icon top-copanies-icon-bg">
                                        <img src="../assets/images/wipro-expert.svg" alt="recruitment expert icon" />
                                    </div>
                                    <div class="content-space">
                                        <h6 class="sub-title">Wipro</h6>
                                        <p class="label-content">16112589 Jobs</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center my-4">
                                <span class="view-btn f-center">
                                    <button class="btn">Browse All Comapnies <img
                                            src="../assets/images/view-arrow.svg" /></button>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="mt-0">
        <div class="row">
            <div class="col-md-3">
                <img class="mb-3" src="../assets/images/skill-launches-footer-logo.svg" alt="Footer Logo" />
                <p>Call now: <a class="text-white" href="tel: +(319) 555-0115">+(319) 555-0115</a></p>
                <p>6391 Elgin St. Celina, Delaware 10299, New York, United States of America</p>
            </div>
            <div class="col-md-3">
                <h5 class="footer-title">Quick Links</h5>
                <ul class="footer-list">
                    <li>
                        <a href="./aboutus.html" class="nav-link">About Us</a>
                    </li>
                    <li>
                        <a href="./contactus.html" class="nav-link">Contact Us</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Pricing</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="footer-title">Candidate</h5>
                <ul class="footer-list">
                    <li>
                        <a href="#" class="nav-link">Browse Jobs</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Browse Employers</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Candidate Dashboard</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Saved Jobs</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="footer-title">Support</h5>
                <ul class="footer-list">
                    <li>
                        <a href="#" class="nav-link">Faqs</a>
                    </li>
                    <li>
                        <a href="./privacy-policy.html" class="nav-link">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="./terms-conditions.html" class="nav-link">Terms & Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="go-top" title="Go To Top" id="scrollTopBtn">
        <img src="../assets/images/got-to-top-icon.svg" alt="Go To Top" />
    </div>
    </div>
    <script>
        $(window).on("scroll", function () {
            if ($(this).scrollTop() > 50) {
                $("#myHeader").addClass("sticky");
            } else {
                $("#myHeader").removeClass("sticky");
            }
        });
    </script>
    <script>
        $(window).on("scroll", function () {
            $(".animationbox").each(function () {
                const boxTop = $(this).offset().top;
                const scrollTop = $(window).scrollTop();
                const windowHeight = $(window).height();

                if (scrollTop + windowHeight > boxTop + 50) {
                    $(this).addClass("visible");
                }
            });
        });

        // Trigger scroll on page load
        $(document).ready(function () {
            $(window).trigger("scroll");
        });
    </script>
    <script>
        $(window).on("scroll", function () {
            $(".horizontalanimationleft").each(function () {
                const boxTop = $(this).offset().top;
                const scrollTop = $(window).scrollTop();
                const windowHeight = $(window).height();

                if (scrollTop + windowHeight > boxTop + 50) {
                    $(this).addClass("visible");
                }
            });
        });

        // Trigger scroll on page load
        $(document).ready(function () {
            $(window).trigger("scroll");
        });
    </script>
    <script>
        $(window).on("scroll", function () {
            $(".horizontalanimationright").each(function () {
                const boxTop = $(this).offset().top;
                const scrollTop = $(window).scrollTop();
                const windowHeight = $(window).height();

                if (scrollTop + windowHeight > boxTop + 50) {
                    $(this).addClass("visible");
                }
            });
        });

        // Trigger scroll on page load
        $(document).ready(function () {
            $(window).trigger("scroll");
        });
    </script>
    <script>
        $(window).on("scroll", function () {
            if ($(this).scrollTop() > 100) {
                $("#scrollTopBtn").addClass("visible");
            } else {
                $("#scrollTopBtn").removeClass("visible");
            }
        });

        $("#scrollTopBtn").on("click", function () {
            $("html, body").animate({ scrollTop: 0 }, 600);
        });
    </script>
</body>

</html>