<!DOCTYPE html>
<html>

<head>
    <title>Skill Launches - About Us</title>
    <link rel="stylesheet" href="../assets/styles.css" />
    <link rel="stylesheet" href="../assets/media-queries.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="content">
    <div class="container-fuild">
        <header id="myHeader" class="box-shadow">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../assets/images/skill-launches-logo.svg" alt="Logo" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="./homepage.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./aboutus.html">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blogs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./contactus.html">Customer Supports</a>
                            </li>
                        </ul>
                        <ul class="header-buttons">
                            <button class="btn btn-secondary" type="submit">Sign In</button>
                            <button class="btn btn-primary" type="submit">Sign Up</button>
                            </form>
                    </div>
                </div>
            </nav>
        </header>

        <div class="pt-3 mt-5 mb-4">
            <div class="page-banner pb-4">
                <div class="container company-profile card featured-card p-3">
                    <div class="row">
                        <div class="col-md-4 align-self-center">
                            <img class="jd-logo" src="../assets/images/ptg-logo.jpg"/>
                        </div>
                        <div class="col-md-4 text-center">
                            <h2 class="job-title-header">Angular Developer</h2>
                            <h5><span class="primary-color">Location : </span>Hyderabad, India</h5>
                            <h5><span class="primary-color">Job Type : </span>Full Time (Remote)</h5>                           
                            <h5 class="mb-3"><span class="primary-color">Exp.Required : </span>3 to 5 years</h5>
                             <h5><span class="primary-color">CTC : </span>8 LPA - 14 LPA</h5>
                              <h5><span class="primary-color">Last Date For Apply : </span>30-Nov-2025</h5>
                        </div>
                        <div class="col-md-4 text-center align-self-center">
                            <button class="btn btn-success">APPLY NOW</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="landing-screen">
                    <div class="job-view-area mx-auto">
                        <div class="featured-card mt-3">
                            <div class="featured-card-header landing-job">
                                <h5 class="job-title">Angular Developer</h5>
                                <h6 class="mb-0">Prefferred Immediate joiner - max 15day</h6>
                            </div>
                            <div class="featured-card-body">
                                <ul class="job-description-info">
                                    <li>
                                        <h6 class="featured-tile">Required Experience : <span class="sub-info"> 5 years
                                                - 8
                                                years.</span></h6>
                                    </li>
                                    <li>
                                        <h6 class="featured-tile">Job Role : <span class="sub-info">Senior Frontend
                                                Associate</span></h6>
                                    </li>
                                    <li>
                                        <h6 class="featured-tile">Salary Estimate : <span class="sub-info">12,00,000/- to 24,00,000/-</span></h6>
                                    </li>
                                    <li>
                                        <h6 class="featured-tile">Company Overview : </h6>
                                        <p class="sub-info">
                                            Insert a brief 3-4 line description of your company, culture, and mission.
                                            Mention why a developer would want to work for you, emphasizing technical
                                            excellence and innovation
                                        </p>
                                    </li>
                                    <li>
                                        <h6 class="featured-tile">Key Responsibilities :</h6>
                                        <ul class="required-skills-list">
                                            <li>Develop and maintain web applications using Angular.</li>
                                            <li>Collaborate with designers and backend developers.</li>
                                            <li>Write clean code in JavaScript, TypeScript, HTML5, and CSS3.</li>
                                            <li>Optimize applications.</li>
                                            <li>Troubleshoot and debug issues.</li>
                                            <li>Participate in code reviews.</li>
                                            <li>Stay updated with Angular advancements. </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h6 class="featured-tile">Required Qualifications & Skills :</h6>
                                        <ul class="required-skills-list">
                                            <li>Relevant experience should be minimum 5 years.</li>
                                            <li>Experience as an Angular Developer.</li>
                                            <li>Proficiency in JavaScript, TypeScript, HTML, and CSS.</li>
                                            <li>Understanding of Angular SPA architecture</li>
                                            <li>Experience with RESTful APIs.</li>
                                            <li>Familiarity with Git.</li>
                                            <li>Strong problem-solving and communication skills.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h6 class="featured-tile">Better To Have :</h6>
                                        <ul class="required-skills-list">
                                            <li>Experience with state management libraries (e.g., NgRx, RxJS)</li>
                                            <li>Familiarity with unit testing frameworks.</li>
                                            <li>Knowledge of CSS pre-processors.</li>
                                            <li>Experience with Agile methodologies</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h6 class="featured-tile">Education Qualifications</h6>
                                        <ul class="required-skills-list">
                                            <li>A bachelor's degree in Computer Science, Software Engineering, or a
                                                related
                                                field (or equivalent experience).</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-secondary"><img class="back-icon"
                                    src="../assets/images/back-icon.svg" /> Back To All Jobs</button>
                        </div>
                   <h2 class="text-center">Related Jobs</h2>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="featured-card">
                            <div class="featured-card-header related-job-card-header">
                                <h5 class="job-title">Angular Developer</h5>
                            </div>
                            <div class="related-job-card-body">
                                <img class="related-jobs-logo" src="../assets/images/ptg-logo.jpg"/>
                                <h5 class="my-3"><span class="primary-color">Location : </span>Hyderabad, India</h5>
                                 <h5 class="mb-3"><span class="primary-color">Job Type : </span>Full Time</h5>
                                 <h5 class="mb-3"><span class="primary-color">Exp.Required : </span>3 to 5 years</h5>
                                 <h5 class="mb-3"><span class="primary-color">CTC : </span>4 LPA - 8 LPA</h5>
                                <button class="btn btn-success">APPLY NOW</button>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="featured-card">
                            <div class="featured-card-header related-job-card-header">
                                <h5 class="job-title">Angular Developer</h5>
                            </div>
                            <div class="related-job-card-body">
                                <img class="related-jobs-logo" src="../assets/images/ptg-logo.jpg"/>
                                <h5 class="my-3"><span class="primary-color">Location : </span>Hyderabad, India</h5>
                                 <h5 class="mb-3"><span class="primary-color">Job Type : </span>Full Time</h5>
                                 <h5 class="mb-3"><span class="primary-color">Exp.Required : </span>3 to 5 years</h5>
                                 <h5 class="mb-3"><span class="primary-color">CTC : </span>4 LPA - 8 LPA</h5>
                                <button class="btn btn-success">APPLY NOW</button>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="featured-card">
                            <div class="featured-card-header related-job-card-header">
                                <h5 class="job-title">Frontend React Developer</h5>
                            </div>
                            <div class="related-job-card-body">
                                <img class="related-jobs-logo" src="../assets/images/evoke-logo.png"/>
                                <h5 class="my-3"><span class="primary-color">Location : </span>Hyderabad, India</h5>
                                 <h5 class="mb-3"><span class="primary-color">Job Type : </span>Full Time</h5>
                                 <h5 class="mb-3"><span class="primary-color">Exp.Required : </span>5 to 8 years</h5>
                                 <h5 class="mb-3"><span class="primary-color">CTC : </span>12 LPA - 18 LPA</h5>
                                <button class="btn btn-success">APPLY NOW</button>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="featured-card">
                            <div class="featured-card-header related-job-card-header">
                                <h5 class="job-title">React Js Developer</h5>
                            </div>
                            <div class="related-job-card-body">
                                <img class="related-jobs-logo" src="../assets/images/ptg-logo.jpg"/>
                                <h5 class="my-3"><span class="primary-color">Location : </span>Hyderabad, India</h5>
                                 <h5 class="mb-3"><span class="primary-color">Job Type : </span>Full Time</h5>
                                 <h5 class="mb-3"><span class="primary-color">Exp.Required : </span>3 to 5 years</h5>
                                 <h5 class="mb-3"><span class="primary-color">CTC : </span>6 LPA - 15 LPA</h5>
                                <button class="btn btn-success">APPLY NOW</button>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="featured-card">
                            <div class="featured-card-header related-job-card-header">
                                <h5 class="job-title">UI Developer</h5>
                            </div>
                            <div class="related-job-card-body">
                                <img class="related-jobs-logo" src="../assets/images/evoke-logo.png"/>
                                <h5 class="my-3"><span class="primary-color">Location : </span>Hyderabad, India</h5>
                                 <h5 class="mb-3"><span class="primary-color">Job Type : </span>Full Time</h5>
                                 <h5 class="mb-3"><span class="primary-color">Exp.Required : </span>6 to 9 years</h5>
                                 <h5 class="mb-3"><span class="primary-color">CTC : </span>12 LPA - 27 LPA</h5>
                                <button class="btn btn-success">APPLY NOW</button>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="featured-card">
                            <div class="featured-card-header related-job-card-header">
                                <h5 class="job-title">Angular Developer</h5>
                            </div>
                            <div class="related-job-card-body">
                                <img class="related-jobs-logo" src="../assets/images/evoke-logo.png"/>
                                <h5 class="my-3"><span class="primary-color">Location : </span>Hyderabad, India</h5>
                                 <h5 class="mb-3"><span class="primary-color">Job Type : </span>Full Time</h5>
                                 <h5 class="mb-3"><span class="primary-color">Exp.Required : </span>3 to 5 years</h5>
                                 <h5 class="mb-3"><span class="primary-color">CTC : </span>4 LPA - 8 LPA</h5>
                                <button class="btn btn-success">APPLY NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <footer class="mt-0">
        <div class="row">
            <div class="col-md-3">
                <img class="mb-3" src="../assets/images/skill-launches-footer-logo.svg" alt="Footer Logo" />
                <p>Call now: <a class="text-white" href="tel: +(319) 555-0115">+(319) 555-0115</a></p>
                <p>6391 Elgin St. Celina, Delaware 10299, New York, United States of America</p>
            </div>
            <div class="col-md-3">
                <h5 class="footer-title">Quick Links</h5>
                <ul class="footer-list">
                    <li>
                        <a href="./aboutus.html" class="nav-link">About Us</a>
                    </li>
                    <li>
                        <a href="./contactus.html" class="nav-link">Contact Us</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Pricing</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="footer-title">Candidate</h5>
                <ul class="footer-list">
                    <li>
                        <a href="#" class="nav-link">Browse Jobs</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Browse Employers</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Candidate Dashboard</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Saved Jobs</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="footer-title">Support</h5>
                <ul class="footer-list">
                    <li>
                        <a href="#" class="nav-link">Faqs</a>
                    </li>
                    <li>
                        <a href="./privacy-policy.html" class="nav-link">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="./terms-conditions.html" class="nav-link">Terms & Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="go-top" title="Go To Top" id="scrollTopBtn">
        <img src="../assets/images/got-to-top-icon.svg" alt="Go To Top" />
    </div>
    </div>
    <script>
        $(window).on("scroll", function () {
            if ($(this).scrollTop() > 50) {
                $("#myHeader").addClass("sticky");
            } else {
                $("#myHeader").removeClass("sticky");
            }
        });
    </script>
    <script>
        $(window).on("scroll", function () {
            $(".animationbox").each(function () {
                const boxTop = $(this).offset().top;
                const scrollTop = $(window).scrollTop();
                const windowHeight = $(window).height();

                if (scrollTop + windowHeight > boxTop + 50) {
                    $(this).addClass("visible");
                }
            });
        });

        // Trigger scroll on page load
        $(document).ready(function () {
            $(window).trigger("scroll");
        });
    </script>
    <script>
        $(window).on("scroll", function () {
            $(".horizontalanimationleft").each(function () {
                const boxTop = $(this).offset().top;
                const scrollTop = $(window).scrollTop();
                const windowHeight = $(window).height();

                if (scrollTop + windowHeight > boxTop + 50) {
                    $(this).addClass("visible");
                }
            });
        });

        // Trigger scroll on page load
        $(document).ready(function () {
            $(window).trigger("scroll");
        });
    </script>
    <script>
        $(window).on("scroll", function () {
            $(".horizontalanimationright").each(function () {
                const boxTop = $(this).offset().top;
                const scrollTop = $(window).scrollTop();
                const windowHeight = $(window).height();

                if (scrollTop + windowHeight > boxTop + 50) {
                    $(this).addClass("visible");
                }
            });
        });

        // Trigger scroll on page load
        $(document).ready(function () {
            $(window).trigger("scroll");
        });
    </script>
    <script>
        $(window).on("scroll", function () {
            if ($(this).scrollTop() > 100) {
                $("#scrollTopBtn").addClass("visible");
            } else {
                $("#scrollTopBtn").removeClass("visible");
            }
        });

        $("#scrollTopBtn").on("click", function () {
            $("html, body").animate({ scrollTop: 0 }, 600);
        });
    </script>
</body>

</html>